* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: lightblue;
  text-align: center;
}

h6 {
  padding: 10px;
}

.service-container {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  flex: 1 1 0;
}

.hobbyList {
  padding: 10px;
  height: 40px;
  font-weight: bold;
}

button {
  padding: 10px;
  font-weight: bold;
  background-color: lightgrey;
}

.counter {
  padding: 20px;
  min-height: 170px;
}